#ItemDetailContainer {
  width: 100%;
  height: calc(100% - 62px);
  display: flex;
  justify-content: center;
  align-items: center;
}
#ItemDetailContainer #item {
  display: grid;
  grid-template-areas: "img info";
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  border-radius: 2em;
}
#ItemDetailContainer #item img {
  width: 500px;
  height: 500px;
  object-fit: contain;
  background-color: black;
  z-index: -1;
  user-select: none;
}
#ItemDetailContainer #item #description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#ItemDetailContainer #item #description h1 {
  font-weight: 800;
}
#ItemDetailContainer #item #description h2 {
  font-weight: 600;
}
#ItemDetailContainer #item #description button {
  margin-top: 5px;
  background-color: black;
  color: white;
  border: 0;
  outline: 0;
  padding: 3px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;
}